


.achtergrondfoto{
  background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
  height: 300px;
  
}
      
.titel {
  color: #1034A6 ;
  text-align: center;
}
.primairekleur {
  background-color: #4B92DB;
}
.owl-carousel .item {
  display: block;
  width: auto;
  max-height: 200px;
  margin: 0 auto;
  }